body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  font-family: "Inter", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  padding: 48px;
  border-radius: 18px;
}

img {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
}

.title {
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6px;
}

.location {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

.content {
  color: white;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 1.75rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

button {
  width: 270px;
  height: 38px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 28%);
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 28%);
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
