body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  font-family: "Inter", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 20%);
  padding: 48px;
  border-radius: 18px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
}

.title {
  color: white;
  font-size: 24px;
}

.location {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

.content {
  color: white;
}
